Repository RubenPants/EDBSCAN: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, proselint, mypy

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

Cython bugfix, add scikit examples
  .cruft.json
  .gitignore
  edbscan/_inner.cpp
  edbscan/_inner.cpython-38-darwin.so
  edbscan/_inner.html
  edbscan/_inner.py
  edbscan/_inner.pyx
  edbscan/main.py
  edbscan/setup.py
  examples/__init__.py
  examples/comparison.ipynb
  examples/data/aniso_X.npy
  examples/data/aniso_y.npy
  examples/data/blobs_X.npy
  examples/data/blobs_y.npy
  examples/data/circles_X.npy
  examples/data/circles_y.npy
  examples/data/default_X.npy
  examples/data/default_y.npy
  examples/data/moons_X.npy
  examples/data/moons_y.npy
  examples/data/uniform_X.npy
  examples/data/uniform_y.npy
  examples/usage.ipynb
  tasks/tasks.py
Due: isort, black, flake8, pydocstyle, mypy

Finish experimental notebooks
  edbscan/__init__.py
  edbscan/_inner.cpp
  edbscan/_inner.html
  edbscan/_inner.py
  edbscan/_inner.pyx
  edbscan/main.py
  examples/comparison_dbscan.ipynb
  examples/comparison_sklearn.ipynb
  examples/usage.ipynb
Due: isort, black, flake8, pydocstyle, mypy

Bugfix in _inner algorithm
  edbscan/_inner.cpp
  edbscan/_inner.html
  edbscan/_inner.py
  edbscan/_inner.pyx
  edbscan/main.py
  examples/comparison_dbscan.ipynb
  examples/comparison_sklearn.ipynb
  examples/data/multi_X.npy
  examples/data/multi_y.npy
  examples/usage.ipynb
Due: isort, black, flake8, pydocstyle, mypy

setup.py
  setup.py
  tasks/__init__.py
  tasks/tasks.py
  tests/__init__.py
  tests/conftest.py
  tests/pytest/__init__.py
  tests/pytest/test_version.py
  tests/pytest_bdd/__init__.py
  tests/pytest_bdd/conftest.py
  tests/pytest_bdd/features/hello_world.feature
  tests/pytest_bdd/test_features.py
Due: isort, black, flake8, pydocstyle, mypy

Add example images
  edbscan/_inner.c
  edbscan/_inner.cpp
  edbscan/setup.py
  examples/images/aniso.png
  examples/images/blobs.png
  examples/images/circles.png
  examples/images/default_dbscan.png
  examples/images/default_edbscan.png
  examples/images/default_hdbscan.png
  examples/images/default_labels.png
  examples/images/moons.png
  examples/images/multi.png
  examples/images/uniform.png
  examples/images/usage.png
  pyproject.toml
  src/__init__.py
  src/edbscan/__init__.py
  src/edbscan/_inner.html
  src/edbscan/_inner.py
  src/edbscan/_inner.pyx
  src/edbscan/main.py
  src/version.py
Due: isort, black, flake8, pydocstyle, mypy

Update README.md
  README.md
Due: proselint

Add background to images
  examples/images/aniso.png
  examples/images/blobs.png
  examples/images/circles.png
  examples/images/default_dbscan.png
  examples/images/default_edbscan.png
  examples/images/default_hdbscan.png
  examples/images/default_labels.png
  examples/images/moons.png
  examples/images/multi.png
  examples/images/uniform.png
  examples/images/usage.png
Due: none

Update README.md
  .gitignore
  MANIFEST.in
  README.md
  examples/comparison_dbscan.ipynb
  examples/comparison_sklearn.ipynb
  examples/usage.ipynb
  pyproject.toml
  setup.py
  src/__init__.py
  src/edbscan/__init__.py
  src/edbscan/_inner.py
Due: isort, black, flake8, pydocstyle, proselint, mypy

Update README.md
  README.md
  examples/comparison_dbscan.ipynb
  examples/images/comparison.png
  examples/usage.ipynb
Due: proselint

Add public image addresses in README
  README.md
  setup.py
Due: isort, black, flake8, pydocstyle, proselint, mypy

Rebuild PyPI and bump version
  .cruft.json
  .pre-commit-config.yaml
  setup.cfg
  setup.py
  src/version.py
Due: isort, black, flake8, pydocstyle, mypy

Extend analyse_edbscan
  examples/usage.ipynb
  setup.py
  src/edbscan/main.py
  src/version.py
Due: isort, black, flake8, pydocstyle, mypy

Add documentation
  src/edbscan/main.py
Due: isort, black, flake8, pydocstyle, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$, but not: ^tasks/
  flake8: any of: \.py$, but not: ^tasks/
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
  mypy: any of: \.py$
